.tweets {
  font-family: BlinkMacSystemFont, sans-serif;

  .title_accueil {
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
    margin-top : 12px;
    margin-left : 10px;
  }

  .nouveau_tweet {
    border-bottom : 1px solid rgba(255,255,255,0.25);

    .textarea_new_tweet {
      margin-left : 20px;
      width : 91%;
      max-width: 91%;
      margin-top : 25px;
      background-color : black;
      border : unset;
      outline-color: black;
      color : white;
      font-size : 20px;
      font-weight: lighter;
      border-bottom : 1px solid rgba(255,255,255,0.25);

      &::placeholder{
        color : white;
        font-size : 20px;
        font-weight: lighter;
      }

      &:focus{
        outline : none;
      }
    }

    .btn_tweeter {
      display: flex;
      justify-content: flex-end;
      margin-top : 20px;
      margin-bottom: 20px;

      button {
        margin-right : 20px;
        background-color : #1d9bf0;
        padding:0.6em 1.2em;
        border-radius : 20px;
        color : white;
        font-weight: bold;
        border : unset;
        font-size: 15px;
        cursor:pointer;

        &:disabled {
          color : rgba(255,255,255,0.5);
          background-color : #156aa4;

          &:hover{
            background-color : #156aa4;
          }
        }

        &:hover {
          background-color : #1b91e1;
        }
      }
    }
  }

  .liste_tweets{
    ul {
      margin-left : 0;
      padding-left : 0;

      li {
        list-style-type: none;
        border-bottom : 1px solid rgba(255,255,255,0.25);


        .userName_tweet{
          margin-left : 10px;
          font-weight: bold;
          color: white;
          margin-bottom: 5px;
          margin-top: 15px;

          .user_at{
            font-weight: lighter;
            color : rgba(240, 240, 240, 0.5);

            .date_tweet {
              font-size: 14px;
            }
          }
        }

        .commentaire_tweet{
          margin-left : 10px;
          margin-bottom:20px;
          font-weight: lighter;
          font-size: 15px;
        }

        .footer_tweet{
          display: flex;
          justify-content: space-around;
          margin-bottom:15px;

          div {
            font-weight: lighter;
            color : rgba(240, 240, 240, 0.5);
            align-items: center;
            display: flex;

            img {
              width : 20px;
              margin-right: 5px;
            }
          }
        }
      }
    }
  }
}
